{#
/**
 * @file
 * Default theme implementation to display views row with helper classes.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3 {{ title_attributes }}>{{ title }}</h3>
{% endif %}

<div{{ wrapper_attributes }}>
{% for row in rows %}
  <div{{ row.attributes }}>
    {{- row.content -}}
  </div>
{% endfor %}
